
<div class="container">
    <div class="page-header">
        <h1><span ng-click="parent()" ng-show="hasParent">../</span>{{folder_name}} <small>Subtext for header</small></h1>
    </div>

    <div>
        <button type="button"
                class="btn btn-link"
                ng-click="loadNewFolder($event)"
                style="text-decoration:none;">
            <i class="fa fa-plus" aria-hidden="true"></i> Create Folder
        </button>

        <button type="button"
                class="btn btn-link"
                ngf-select="uploadImages($files)"
                multiple="multiple"
                id="imageupload"
                style="text-decoration:none;">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Image(s)
        </button>

        <button type="button"
                class="btn btn-link"
                ngf-select="uploadFiles($files)"
                multiple="multiple"
                id="fileupload"
                style="text-decoration:none;">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload File(s)
        </button>

        <button type="button"
                class="btn btn-link"
                ng-show="layout === 'table'"
                ng-click="changeLayout()">
            <i class="fa fa-th-large" aria-hidden="true"></i>
        </button>

        <button type="button"
                class="btn btn-link"
                ng-show="layout === 'grid'"
                ng-click="changeLayout()">
            <i class="fa fa-th-list" aria-hidden="true"></i>
        </button>

        <button type="button"
                class="btn btn-link"
                ng-click="filesToTrash($event)"
                style="text-decoration:none;">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>

    <div ng-if="layout === 'grid'">
        <div ng-show="folder.folders.length > 0" class="row">
            <h4>Folders</h4>
            <button class="btn btn-primary"
                    style="margin-left: 10px;"
                    ng-repeat="folder in folder.folders track by folder.id"
                    ng-click="loadFolder(folder.id)">
                <i class="fa fa-folder-o" aria-hidden="true"></i> {{folder.name}}
            </button>
        </div>
        <div ng-show="folder.images.length > 0" class="row">
            <h4>Images</h4>
            <div ng-repeat="image in folder.images track by image.id" style="float:left; margin-left:10px;">
                <p class="text-center">
                    <img ng-src="{{image.thumbnail}}" alt="{{image.name}}" class="img-thumbnail"><br />
                    <span ng-bind="image.name"></span>
                </p>
            </div>
        </div>
        <div ng-show="folder.files.length > 0" class="row">
            <h4>Files</h4>
            <div ng-repeat="file in folder.files track by file.id" style="float:left; margin-left:10px;">
                <p class="text-center">
                    <i class="fa {{fileType(file.name)}} fa-5x"></i><br />
                    <span ng-bind="file.name"></span>
                </p>
            </div>
        </div>
    </div>
    <div ng-if="layout === 'table'">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Updated</th><!-- a folder isn't updated when things are added to it (yet) -->
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in condensed()">
                    <td ng-if="file.type === 'folder'" ng-click="loadFolder(file.id)">
                        <i class="fa fa-folder" aria-hidden="true"></i> <span ng-bind="file.name"></span>
                    </td>
                    <td ng-if="file.type === 'image'">
                        <i class="fa fa-file-image-o" aria-hidden="true"></i> <span ng-bind="file.name"></span>
                    </td>
                    <td ng-if="file.type === 'file'">
                        <i class="fa {{fileType(file.name)}}" aria-hidden="true"></i> <span ng-bind="file.name"></span>
                    </td>
                    <td>
                        <span uib-tooltip="{{file.updated | amUtc | amLocal | amDateFormat:'lll'}}"
                              am-time-ago="file.updated"></span>
                    </td>
                    <td ng-if="file.type === 'folder'"></td>
                    <td ng-if="file.type === 'image' || file.type === 'file'">
                        <span ng-bind="file.size | filesize"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
