
<div class="container">
    <div class="page-header">
        <h1><span ng-click="parent()" ng-show="hasParent">../</span>{{folder_name}} <small>Subtext for header</small></h1>
    </div>

    <div>
        <button type="button"
                class="btn btn-link"
                ng-click="loadNewFolder($event)"
                style="text-decoration:none;">
            <i class="fa fa-plus" aria-hidden="true"></i> Create Folder
        </button>

        <button type="button"
                class="btn btn-link"
                ngf-select="uploadFiles($files)"
                multiple="multiple"
                id="imageupload"
                style="text-decoration:none;">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Image(s)
        </button>
    </div>

    <div>
        <h4>Folders</h4>
        <button class="btn btn-primary"
                style="margin-left: 10px;"
                ng-repeat="folder in folder.folders track by folder.id"
                ng-click="loadFolder(folder.id)">
            <i class="fa fa-folder-o" aria-hidden="true"></i> {{folder.name}}
        </button>
        <h4>Images</h4>
        <div ng-repeat="image in folder.images track by image.id" style="float:left; margin-left: 10px;">
            <img ng-src="{{image.thumbnail}}" alt="{{image.name}}" class="img-thumbnail">
        </div>

    </div>
</div>
